<!DOCTYPE html>
<html>
<head>
    <title>iMobile3 - Foodies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="styles/styles.css">
    <link type='text/css' rel='stylesheet' href='//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700'>
    <link type='text/css' rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

</head>

<body>

<div id="container" class="remodal-bg">
    <%- body %>
</div>

<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/sails.io.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-debug.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>

<script src="/js/knockout.sails.js"></script>
<script src="/js/notify.min.js"></script>
<script src="/js/jquery.remodal.js"></script>
<script src="/js/knockout-history.js"></script>
<script src="/js/knockout-router.js"></script>

<script src="/js/viewModels/base.js"></script>
<script src="/js/viewModels/map.js"></script>
<script src="/js/foodies.js"></script>

</html>

</body>