<!DOCTYPE html>
<html>
<head>
    <title>Foodies</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/importer.css">
</head>

<body>

<div id="container" class="remodal-bg">
    <%- body %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-debug.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.blockUI.js"></script>
<script src="/js/dependencies/knockout.sails.js"></script>
<script src="/js/dependencies/notify.min.js"></script>
<script src="/js/dependencies/jquery.remodal.js"></script>
<script src="/js/dependencies/knockout-history.js"></script>
<script src="/js/dependencies/knockout-router.js"></script>
<script src="/js/dependencies/moment.min.js"></script>

<script src="/js/foodies.js"></script>
</body>

</html>
