<div id="login-container">
    <form>
        <input type="text" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">Login</button>
        <a href="register">Not a user yet?</a>
    </form>
</div>