@import "reset";
@import "jquery.remodal.less";

@brand-primary: #f06821;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, map {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  background: white;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 27px;
}

input[type='text'], input[type='password'] {
  font-size: 14px;
  padding: 10px;
}

button {
  background: @brand-primary;
  padding: 11px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  border-bottom: 2px solid darken(@brand-primary, 10%);

  i {
    margin-right: 5px;
  }

  &:hover {
    background: lighten(@brand-primary, 10%);
  }

  &:active {
    background: darken(@brand-primary, 10%);
  }
}

a {
  color: @brand-primary;
  text-decoration: none;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: lighten(@brand-primary, 10%);
  }
}

.hide {
  display: none;
}

.infowindow {

  img {
    float: left;
    max-height: 250px;
  }
}

.user-list {
  list-style: none;
  margin: 10px 0;

  li {
    text-align: left;
    padding: 10px;
    cursor: pointer;

    i {
      margin-right: 5px;
      color: rgb(201, 201, 201);
    }

    &:nth-child(odd) {
      background: rgb(238, 238, 238);
    }

    &:hover {
      background: @brand-primary;
      color: white;
    }

    &:active {
      background: darken(@brand-primary, 10%);
    }
  }
}

.nominations {
  list-style: none;
  margin: 15px 0;
  overflow: visible;

  li {
    border-radius: 5px;
    margin: 5px 20px;
    border: 1px solid rgb(219, 219, 219);
    padding: 10px;
    float: left;
    width: 31%;
    position: relative;
  }

  .fa-trash-o {
    position: absolute;
    right: 5px;
    top: 5px;
    color: gray;
    cursor: pointer;

    &:hover {
      color: @brand-primary;
    }
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 14px;
    color: gray;
  }
}

#keyword-search {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#foodie-selector {
  background: @brand-primary;
  color: white;
  padding: 15px;
  position: fixed;
  font-size: 18px;
  top: 0;
  right: 0;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.22);
  border: none;

  &:hover {
    background: lighten(@brand-primary, 10%);
  }
}

#container {
  padding: 20px;
}

#map-container {
  border-radius: 10px;
  margin: 20px 0;
  border: 7px solid #D8D8D8;
  width: 100%;
}

#map {
  width: 59%;
  height: 300px;

  display: inline-block;
}

#place-preview {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding: 15px;

  h3 {
    font-size: 23px;
  }

  h5 {
    font-size: 12px;
    font-weight: normal;
    color: gray;
    margin: 10px 0 20px 0;
  }

  h6 {
    margiN: 10px 0;
  }

  #reviews {
    color: rgb(168, 168, 168);
    b {
      color: @brand-primary;
    }
  }

  button {
    margin: 40px 0;
  }
}
