@import "reset";
@import "jquery.remodal.less";

@brand-primary: #f06821;

html, body, map {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body {
  background: white;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
}

input[type='text'], input[type='password'] {
  font-size: 14px;
  padding: 10px;
}

button {
  background: @brand-primary;
  padding: 11px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: lighten(@brand-primary, 10%);
  }

  &:active {
    background: darken(@brand-primary, 10%);
  }
}

a {
  color: @brand-primary;
  text-decoration: none;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: lighten(@brand-primary, 10%);
  }
}

.infowindow {
  min-width: 200px;
  min-height: 30px;
}

#container {
  padding: 20px;
}

#map {
  width: 100%;
  height: 500px;
}
