<div id="foodies-container">

    <div id="foodie-selector" class="pull-right" data-remodal-target="select-foodie">
        <i class="fa fa-user"></i>
        <span data-bind="visible: !selectedUser()">Select A Foodie</span>
        <span data-bind="with: selectedUser"><span data-bind="text: name"></span></span>
    </div>

    <h1>Lunch for <span data-bind="text: today"></span></h1>

    <ol id="nominations-container" class="nominations"
        data-bind="foreach: { data: sortedNominations, afterAdd: slideDown, beforeRemove: slideUp }">
        <li data-bind=" css: { selected: $parent.selectedNomination() === $data }">
            <i class="fa fa-cutlery pull-left"></i>

            <div class="pull-right">
                <!-- ko foreach: votes -->
                <i class="fa fa-user"></i>
                <!-- /ko -->

                <i class="fa fa-user"></i>

                <button data-bind="visible: !isSelectedUserCreator() && !isSelectedUserJoined(), click: $parent.joinNomination">
                    Join
                </button>
                <button data-bind="visible: !isSelectedUserCreator() && isSelectedUserJoined(), click: $parent.leaveNomination">
                    Leave
                </button>
                <button class='danger' data-bind="visible: isSelectedUserCreator, click: $parent.destroyNomination">
                    Delete
                </button>
            </div>

            <h5 data-bind="click: $parent.selectNomination"><a href="#" data-bind="text: name"></a></h5>
            <h6>suggested by <span data-bind="text: user.name()"></span></h6>
            <h7 data-bind="text: address"></h7>

        </li>
    </ol>


    <section id="map-container">

        <form id='keyword-search' data-bind="submit: searchKeyword">
            <input data-bind="value: keyword" type="text" placeholder="search for some food..."/>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        <div id="map"></div>

        <div id="place-preview">
            <div data-bind="with: selectedDetailedPlace">
                <h3 data-bind="text: name"></h3>
                <h5 data-bind="text: formatted_address"></h5>
                <h6 data-bind="text: formatted_phone_number"></h6>
                <h6 data-bind="visible: formatted_website">
                    <a data-bind="attr: { href: formatted_website }, text: formatted_website"></a>
                </h6>

                <button data-bind="visible: $root.isEatBtnVisible, click: $root.nominatePlace, attr: { 'data-id': id }">
                    <i class="fa fa-cutlery"></i>I want to eat here
                </button>

                <ol data-bind="with: $root.selectedNomination" class="users-going">
                    <!-- ko foreach: $root.selectedPlaceVotes -->
                    <li><i class="fa fa-user"></i><span data-bind="text: user.name"></span>,</li>
                    <!-- /ko -->
                    <li><i class="fa fa-user"></i><span data-bind="text: $root.selectedNomination().user.name()"></span>
                        is going
                    </li>
                </ol>
            </div>

            <div id="no-place-selected" data-bind="visible: !selectedDetailedPlace()">
                <i class="fa fa-cutlery"></i>
            </div>


        </div>
    </section>

</div>


<div id="select-foodie" class="remodal" data-remodal-id="select-foodie">
    <h1>Select A Foodie</h1>

    <ol data-bind="foreach: users" class="user-list">
        <li data-bind="click: $parent.selectUser">
            <i class="fa fa-user"></i><span data-bind="text: name"></span>
        </li>
    </ol>

</div>

<div id="infowindow-template" data-bind="with: selectedPlace" class="hide">
    <div class="infowindow">
        <img data-bind="attr: { src: imageUrl }">
    </div>
</div>

