<div id="foodies-container">
    <ol data-bind="foreach: nominations">
        <li data-bind="text: name"></li>
    </ol>

    <div id="foodie-selector" class="pull-right" data-remodal-target="select-foodie">
        <i class="fa fa-user"></i>
        <span data-bind="visible: !selectedUser()">Select A Foodie</span>
        <span data-bind="with: selectedUser"><span data-bind="text: name"></span></span>
    </div>

    <form data-bind="submit: searchKeyword">
        <input data-bind="value: keyword" type="text" placeholder="search for some food..."/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <section id="map-container">
        <div id="map"></div>

        <div id="place-preview" data-bind="with: selectedDetailedPlace">
            <h3 data-bind="text: name"></h3>
            <h5 data-bind="text: formatted_address"></h5>
            <h6 data-bind="text: formatted_phone_number"></h6>
            <h6 data-bind="visible: formatted_website">
                <a data-bind="attr: { href: formatted_website }, text: formatted_website"></a>
            </h6>
            <a href="#" data-bind="click: $root.nominatePlace, attr: { 'data-id': id }">
                <i class="fa fa-cutlery"></i>Let's eat lunch here!
            </a>
        </div>
    </section>

</div>


<div id="select-foodie" class="remodal" data-remodal-id="select-foodie">
    <h1>Select A Foodie</h1>

    <ol data-bind="foreach: users" class="user-list">
        <li data-bind="click: $parent.selectUser">
            <i class="fa fa-user"></i><span data-bind="text: name"></span>
        </li>
    </ol>

</div>

<div id="infowindow-template" data-bind="with: selectedPlace">
    <div class="infowindow">
        <img data-bind="attr: { src: imageUrl }">
    </div>
</div>



<pre data-bind="text: ko.toJSON($data.selectedUser, null, 2)"></pre>
