<form data-bind="submit: searchKeyword">
    <input data-bind="value: keyword" type="text" placeholder="search for some food..."/>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div id="map"></div>
