<div id="login-container">
    <h1><img src="/images/im3_logo.png"/>Foodies</h1>
    <form id="login-form" action="/user/login" method="post">
        <input type="text" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">Login</button>
        <a href="register">Not a user yet?</a>
    </form>

    <img id="food-gif" src="" title="gif me!" alt="gif me!"/>
</div>
