<div id="login-container">
    <h1><img src="/images/im3_logo.png"/>Foodies</h1>
    <form id="login-form" action="/user/login" method="post">
        <input type="text" name="name" placeholder="display name" maxlength="20"/>
        <button type="submit">Join</button>
    </form>

    <img id="food-gif" src="" title="food gif me!" alt="food gif me!"/>
</div>
