<div id="login-container">
    <h1><img src="/images/im3_logo.png"/>Foodies</h1>
    <a style='margin: 20px 0;' id='return-to-login' href="/" class="hide"><i class="fa fa-long-arrow-left"></i>return to login</a>
    <form id='register-form' action="/user" method="post">
        <input type="text" name="email" placeholder="email*" />
        <input type="password" name="password" placeholder="password*" />
        <input type="text" name="name" placeholder="display name*" />
        <button type="submit">Sign Up</button>
    </form>
    <img id="food-gif" src="" title="gif me!" alt="gif me!"/>
</div>
